





footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

body {
  flex: 1; /* take all remaining space */
  height: 100%;
  margin: 0;
  font-family:'Arial',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background-color: #00000011;
  
  


}
.mainContent{
  min-height:82vh;
  
  /* background-image: url("./pages/imgs/logo.png");
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover; */
  
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration:none;
}
.hovereffect:hover{
  color:red;
  
  
}
.hoverEffect1:hover{
  color: black;
  background-color: orange;
  
  
}
.orangeHoverEffect:hover{
  color:orange;
  
}

.nav-link{
  padding: 3px;
  border-radius: 2px;
border: 0.1px solid rgba(255, 255, 255, 0.281);
color:white;
}


.navB{
  width: 100%;
}
.nav-item{

padding: 2px;
}
.backgroundColorHovereffect:hover{
  background-color:rgb(0, 4, 255);
   
}



.backgroundColorHoverEffect3:hover{
  background-color:rgb(255, 187, 0);
   
}.PubArticleSearchCompContainer1{
  
  padding:0px;
  
}
.marqueeNewsSpan1{
  border: 1px solid orange;
  background-color: white;
  padding: 2px;
}
.marqueeNewsSpan2{
  padding: 2px;
  
}
.marquee{
  padding: 2px;
  
}

.cheapItemsPageContainer{
  background-color: grey;
  background-image: url('./pages/imgs/lady.jpg');
}
.usedItemsContainer2{
padding: 5px;
}
.usedItemsContainer1{
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  padding: 5px;
  border-radius: 3px;
}

.searchInputTag1{
  outline: 0px;
  width: 100%;
  border: 0px solid black;
  box-shadow:0px 0px 3px rgba(221, 221, 221, 0.459);
  border-radius:20px;
  padding: 7px;
  background:rgb(255, 255, 255) ;
  text-align: center;
  
  
}

.searchInputTag1:focus{

  border-width: 0px solid green;
  
}
.backgroundColorHoverEffectGreen:hover{
  background-color:green;
  
  
}
.AdComponentDiv{
  padding:3px;border-radius:3px;
  background-color: white;
  box-shadow:0px 0px 0px black;
  
}
 .articleContainer{
padding:5px;


background-color:rgb(235, 235, 235);

 }
 .articleContainer2{
  border-radius: 3px;
  padding:10px;
  background-color:rgb(255, 254, 254);
  
 }
 .articleHeadline{
  font-size:22px;
  padding-top: 10px;
  font-weight: 600;
 
  
  
 }

 .ListArticleHeadline{
  font-size:17px;
  padding-top:2px;
  font-weight: 600;
  color: black;
  
  
 }
 .ListArticleHeadlineAndOthers{
  color: black;
 
 }
.ListArticleHeadlineAndOthers:hover{
  color: orange;


}
 .ListArticleHeadline:hover{
  font-size:17px;
  padding-top:2px;
  font-weight: 600;
  color: orange;
  
  
 }

.candName{
  font-size: 20px;
  font-weight: 500;
}

.candContainer1{
  padding:5px;
}


.candContainer2{
  border:1px solid orange;
  padding:5px;
}
.hoverEffectUnderline:hover{
  text-decoration:underline;
  color:red;
  
  
}
.hovereffect2:hover{
  color:grey;
  
  
}



.caption-four{
  color:rgb(255, 255, 255);
 
}
.caption-one{
  color:#000000; 
}
.caption-two{
  color:#FFEA00; 
}
.caption-three{
  color:#0A00CD;
}

.carousel-caption{
  border:0px solid red; 
height:100%;

font-size:20px;

}

.carousel-control-next{
  width:30px;
border:0px;
}
.carousel-control-prev{
border:0px solid green;

  width:30px;
}







.App {
  text-align: center;
}


 

.navigatione{
  background:green;
  height:300px;
}
navbar-brand1{
  color:rgb(255, 255, 255)!important;
font-size:30px;

}
.bg-black{

  background-color:black !important;
      
  }
nav-link1{
    font-size:15px;
        color:rgba(255, 255, 255, 0.801);
        
        
    }

.aud{
  opacity:0;
}
.carousel{
  background:rgb(0, 0, 0);
 
 
  
}
.basenave{
  background:black;
  color:white;
  padding:10px;
  text-align: left;
  
}
.carmsgcolor{
  color:rgb(255, 255, 255);
  font-size:20px;
  border:0px solid black;
  font-weight:bold;

  
  
  
}
.carmsg{
  
  font-size:30px;
  border:0px solid black;

  opacity:0.9;
  border-radius:10px;
  
}
.generale{
  
  padding:3px;
  font-size:17px;
  color:rgb(0, 0, 0);
  
  
  
}

.genPadTop{
  padding-top:20px;
}
.gen1{
  text-align:left;
  color:rgb(167, 164, 164);
 
}
.generaleH{

font-size:18px;
color:green;
text-align:center;
font-weight:bold;

}
.generaleH1{

  font-size:18px;
  color:rgb(255, 123, 0);
  text-align:left;
  font-weight:bold;
  
  }
.nega{
  width:100%;
  background:green; 
  color:white;
  text-align:center;
  padding:8px;
  font-family: charm;
  
  }
  
.gencols{
  border-right:0px solid green;
  padding-bottom:20px;
  text-align:center;
 
}
.adscols{
  border-right:2px solid green;
  border-bottom:2px solid gray;
  padding-bottom:50px;

  height:400px;
}
.bod{
  border:0px solid red;
  padding-bottom:8px;
  
}


.SuspenseContainer{
font-size: 15px;
padding-top:250px;
background-color: black;
text-align: center;
padding-bottom:500px;
color: white;

}

.itemse{
  background:url("./pages/imgs/snacks.jpg") fixed no-repeat;
  background-size:cover;
  padding:5px;
 
} 
.btn1{
  padding:7px;
  border-radius:20px;
}

.item{
  
height:310px;

border-left:0px solid green;
border-radius:10px;

box-shadow: 5px 8px  15px black;
padding:3px;
}
.followersCategory{
  box-shadow: 2px 2px  5px black;
  border-radius: 8px;
}

.itemhide{
  width:100%;
height:310px;

border-left:0px solid green;
border-radius:10px;

box-shadow: 5px 8px  15px black;
padding:3px;
}

.photohide{
 width:100%;
  height:55%; 
  background:white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;


  overflow:hidden;
  text-align:center;
   
}

.photo{
  
   height:55%; 
   background:white;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
 border:0px solid red;
 padding:10px;
 
   overflow:hidden;
 
    
 }

.infor{
  width:100%;
     height:38%;
 background:white;
 background-size:cover;
   
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   opacity:0.8;
   padding:5px;
 
 }
 .item-id{
  text-align:left;
  color:black;
font-size:12px;
font-weight:bold;
  
  }
  
  
  .item-price{
   font-size:16px;
  color:rgb(243, 158, 0);
  font-size:16px;
  padding-top:0px;
  font-weight:bold;
  
  }
  
  .item-desc{
      
  color:rgb(102, 102, 102);
  font-size: 10px;
  }
  
  
  .item-cont{
      width:100%;
    padding: 4px;
      background:green;
      
     border-radius: 20px;
      color:white;
  text-align:center;
      float:left;
      font-size: 11px;

  
  }
  .divContainer1{
    padding: 2px;
    padding-bottom: 3px;
  }
  .divContainer1Inner{
    border: 1px solid grey;
    color: black;
    padding: 4px;
    
  }
  .divContainer1Inner:hover{
    background-color: orange;
    padding: 4px;
    color: white;
  }


  

 
.componentPadding{
  padding: 7px;
 
}
  form{
    padding:8px;
     background-color:rgb(255, 255, 255);
  border: 1px solid rgba(143, 143, 143, 0.516);
    border-radius: 4px;
  }
  form input[type="text"],
  form textarea[type="text"]{
    border: 1px solid rgba(128, 128, 128, 0.486);
    border-radius: 6px;
    
  }

  .fullButtonWidth{
    width: 100%;
  }
  .form-control{
    border:1px solid rgba(0, 0, 0, 0.164);
  }
  .formInputLabel{
        font-size:14px;
        color: rgba(0, 0, 0, 0.811);
        
  }
 .formLabel{
  color:orange;
  font-size: 13px;
  background:black;text-align:center;padding:8px;
 }
.form-submit-btn{
background-color: orange;
text-align: center;
font-size: 12px;
color: black;
padding:3px;
}
 .followingsNavItem{
  padding:3px;
  
  
 }
.allArticlesCont1{
padding:3px;
border: 0px solid red;

}
.allArticlesCont1:hover{
color: orange;
}
.allArticlesCont2{
padding: 4px;
border: 1px solid grey;
background-color: white;
border-radius: 2px;
}
.test{
  color:#5a5a5a
}


.pageLabel{
text-align: left;
  font-weight: 600;
  padding: 0px;
  font-size:18px;
  }

.pageDescription{
  text-align: left;
    font-size: 12px;
    padding: 0px;
    opacity: 0.8;
    }

    .bold{
      text-align: left;
        font-weight: 600;
        padding: 0px;
        font-size:14px;
        }
      
      .light{
        text-align: left;
          font-size: 12px;
          padding: 0px;
          opacity: 0.8;
          }

.label{
  text-align: center;
  font-weight: 600;
  padding: 2px;
  font-size:18px;
  }

.description{
  text-align: center;
    font-size: 12px;
    padding: 2px;
    border-bottom: 1px solid black;
    
  }

.candidateName{
  padding-left: 5px;
 
}

.radioCont1{
  border: 0px solid orange;
  padding-top: 10px;
}

.selectionProperty{
  font-size: 15px;
}
.radioCont2{
  border: 1px solid orange;
  padding: 5px;
}

.button2{
  background-color:red;
  padding:3px;
  font-size: 11px;
  color: white;
  border-radius: 1px;
  text-align: center;
  border: 0px;
  
}



.button1{
  background-color:#198754;
  padding:4px;
  font-size: 11px;
  color: white;
  border-radius: 4px;
  text-align: center;
  
  display: inline-block;
  width: auto;
  
}

.button1:hover{
  cursor: pointer;
  color: white;
    background-color:rgb(0, 197, 0) ;
  border-radius: 2px;
}



.status{
  color:green;
  font-weight: 600;
  text-align: left;
  font-size: 14px;
  padding-top:2px;
  padding-bottom:2px ;
  
}
.button1:hover{
  
  color:white;
}
.beneficiaryContainer2{
  padding: 3px;
  border: 1px solid orange;
}

.beneficiaryContainer1{
  padding: 4px;
  
}
.orangeBorderDiv{
  border: 3px solid orange;
  padding: 3px;
}
.blackBorderDiv{
  border: 2.5px solid rgb(0, 0, 0);
  padding: 3px;
}
.blackBgOrangeColor{
  background-color: black;
  color: orange;
  padding: 5px;
  text-align: center;
}
.button2{
background-color:orange; 
  padding:4px;
  font-size: 11px;
  color: black;
  
  
}
.pubArticleListItemContainer2{
background-color: white;
  padding: 5px;
  border: 1px solid orange;

}
.pubArticleListItemContainer{
  
  padding:5px;
}
.pubArticleListItemHeadline{
 font-size: 16px;
 font-weight:600;
 padding-bottom: 5px;
}

.pubArticleListItemInstitution{
  color:rgb(255, 167, 3);
  font-size:11px;
  
  font-weight: 600;
  
}

.contactsRegisterContactRecordContainer{
  background-color: white;
  
  
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.521);
  
  padding: 5px;
}
.pubArticleListItemViewsAndVisits{
  font-size: 11px;

}

.toastAlert1{
    background-color:green;
  color: white;
  padding-top: 30px;
height: 15%;
font-size: 12px;
position:fixed;
border-radius: 0px 0px 5px 5px;
top:25%;
left: 5%;
right: 7%;
text-align:center;
border-radius: 5px;
}

.toastAlert2{
  background-color:rgb(226, 0, 0);
  padding-top: 30px;
  color: white;
height: 15%;
font-size: 12px;
position:fixed;
top:25%;
left: 5%;
right: 7%;
text-align:center;
border-radius: 5px;

}
.label1{
  font-size:15px;
  font-weight: 600;
}
.label2{
  font-size:12px;
  padding-bottom: 5px;
}